In [99]:
import pandas as pd

In [44]:
df = pd.read_csv('C:\\Users\\danie\\Desktop\\movie_ratings.csv')

In [50]:
df.head()

,Unnamed: 0,Oppenheimer,Barbie,The Super Mario Bros,Guardians of the Galaxy,Spider-Man,Mission: Impossible
0,Alice,3,4,3,5,4,4
1,Bob,5,5,4,3,5,3
2,Charlie,5,3,4,4,5,5
3,David,4,5,3,5,4,4
4,Eve,3,4,5,4,5,4

In [52]:
avg_movie_ratings = df.iloc[:, 1:].mean(axis=0)

In [54]:
avg_user_ratings = df.iloc[:, 1:].mean(axis=1)

In [56]:
avg_movie_ratings, avg_user_ratings

(Oppenheimer                4.0
 Barbie                     4.2
 The Super Mario Bros       3.8
 Guardians of the Galaxy    4.2
 Spider-Man                 4.6
 Mission: Impossible        4.0
 dtype: float64,
 0    3.833333
 1    4.166667
 2    4.333333
 3    4.166667
 4    4.166667
 dtype: float64)

In [58]:
normalized_df = (df.iloc[:, 1:] - df.iloc[:, 1:].min()) / (df.iloc[:, 1:].max() - df.iloc[:, 1:].min())

In [60]:
avg_normalized_movie_ratings = normalized_df.mean(axis=0)

In [62]:
avg_normalized_user_ratings = normalized_df.mean(axis=1)

In [64]:
avg_normalized_movie_ratings, avg_normalized_user_ratings

(Oppenheimer                0.5
 Barbie                     0.6
 The Super Mario Bros       0.4
 Guardians of the Galaxy    0.6
 Spider-Man                 0.6
 Mission: Impossible        0.5
 dtype: float64,
 0    0.333333
 1    0.583333
 2    0.666667
 3    0.500000
 4    0.583333
 dtype: float64)

Original Ratings vs. Normalized Ratings:

- In the original ratings, the scores ranged from 3 to 5 across various users and movies. The averages provided a straightforward view of preferences, with "Spider-Man" having the highest average rating (4.6) and "The Super Mario Bros" the lowest (3.8).
- Normalization rescales the data between 0 and 1, making it easier to compare ratings regardless of the original scale. For example, in the normalized results, "Barbie," "Guardians of the Galaxy," and "Spider-Man" all have higher average ratings (0.6), indicating their relatively higher popularity across the board.

Normalization brings all ratings onto the same scale (0 to 1), which is especially useful when comparing ratings from users who might use different rating styles. For example, some users may tend to give higher ratings on average, while others may be more critical.

Insights from the Results:

- Even after normalization, "Spider-Man" remains highly rated, indicating a strong, consistent preference for that movie across users.
- "The Super Mario Bros" has a lower normalized average (0.4), confirming that it was generally less favored.
- Users like Charlie, who had a higher normalized average (0.67), rated movies higher on average compared to others like Alice (0.33), who may have been more critical.

Overall, normalization is valuable for comparing ratings across different users by bringing the data to a common scale. However, it can obscure the original meaning of ratings, and care should be taken when interpreting results.

In [90]:
standardized_df = (df.iloc[:, 1:] - df.iloc[:, 1:].mean()) / df.iloc[:, 1:].std()

In [92]:
avg_standardized_movie_ratings = standardized_df.mean(axis=0)

In [94]:
avg_standardized_user_ratings = standardized_df.mean(axis=1)

In [96]:
avg_standardized_movie_ratings, avg_standardized_user_ratings

(Oppenheimer                0.000000e+00
 Barbie                    -1.887379e-16
 The Super Mario Bros       1.776357e-16
 Guardians of the Galaxy   -1.887379e-16
 Spider-Man                 5.995204e-16
 Mission: Impossible        0.000000e+00
 dtype: float64,
 0   -0.389082
 1    0.012840
 2    0.285039
 3   -0.023210
 4    0.114413
 dtype: float64)

Standardization is particularly useful when you want to compare variables that are on different scales or have different ranges. It transforms all variables to have a mean of 0 and a standard deviation of 1, which can be beneficial in many machine learning algorithms and statistical analyses.