In [1]:
import pandas as pd

In [3]:
file_path = 'C:\\Users\\danie\\Downloads\\agcensus-chapter1-table1-US.csv'
data = pd.read_csv(file_path)

In [5]:
year_columns = ['2017', '2012', '2007', '2002', '1997']

In [7]:
for column in year_columns:
    data[column] = pd.to_numeric(data[column].str.replace(',', ''), errors='coerce')

The values in the columns for the years 2017, 2012, 2007, 2002, and 1997 have been cleaned to remove commas and converted to numeric format (float). This allows for numerical analysis.

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129 entries, 0 to 128
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   state            129 non-null    object
 1   state fips       129 non-null    int64
 2   county           0 non-null      float64
 3   county code      0 non-null      float64
 4   commodity        129 non-null    object
 5   data item        129 non-null    object
 6   domain category  15 non-null     object
 7   2017             128 non-null    float64
 8   2012             124 non-null    float64
 9   2007             125 non-null    float64
 10  2002             125 non-null    float64
 11  1997             118 non-null    float64
dtypes: float64(7), int64(1), object(4)
memory usage: 12.2+ KB

In [11]:
data.head()

,state,state fips,county,county code,commodity,data item,domain category,2017,2012,2007,2002,1997
0,US TOTAL,99,NaN,NaN,FARM OPERATIONS,FARM OPERATIONS - NUMBER OF OPERATIONS,NaN,2042220.0,2109303.0,2204792.0,2128982.0,2215876.0
1,US TOTAL,99,NaN,NaN,FARM OPERATIONS,FARM OPERATIONS - NUMBER OF OPERATIONS,AREA OPERATED: (1.0 TO 9.9 ACRES),273325.0,223634.0,232849.0,179346.0,205390.0
2,US TOTAL,99,NaN,NaN,FARM OPERATIONS,FARM OPERATIONS - NUMBER OF OPERATIONS,AREA OPERATED: (10.0 TO 49.9 ACRES),583001.0,589549.0,620283.0,563772.0,530902.0
3,US TOTAL,99,NaN,NaN,FARM OPERATIONS,FARM OPERATIONS - NUMBER OF OPERATIONS,AREA OPERATED: (50 TO 179 ACRES),564763.0,634047.0,660530.0,658705.0,694489.0
4,US TOTAL,99,NaN,NaN,FARM OPERATIONS,FARM OPERATIONS - NUMBER OF OPERATIONS,AREA OPERATED: (180 TO 499 ACRES),315017.0,346038.0,368368.0,388617.0,428215.0

Analysis Possibilities:
- We could analyze trends in the number of farm operations over time across different farm sizes.
- If we filter for specific states, we can compare how farming operations have evolved in different areas.
- Evaluating how farm sizes have shifted, indicating changes in farm structure (e.g., growth of small farms versus consolidation into larger operations).

There's an overall decline in the number of farm operations from 1997 to 2017, indicating possible consolidation or a reduction in the number of active farms.
Smaller farm categories (e.g., 1-9.9 acres) may show different trends than larger categories, reflecting changing farming practices.