In [18]:
import csv

In [20]:
import pandas as pd

In [26]:
airline_data=pd.read_csv("C:\\Users\\danie\\Downloads\\airline_delays.csv")

In [28]:
airline_data.head()

            City  Alaska_On_Time  Alaska_Delay  AM WEST_On_Time  AM WEST_Delay
0    Los Angeles             520            54              745            136
1        Pheonix             118            23             2560            353
2      San Diego             318           694             4840            383
3  San Francisco             605           105              360             65
4        Seattle            2400           376              200             32

In [ ]:
#The dataset includes the number of on-time and delayed flights for Alaska and AM West airlines across five cities. 
#I first calculated the total number of flights (on-time and delayed) for each airline, followed by the percentage of delayed flights.

In [30]:
airline_data['Total_Alaska_Flights'] = airline_data['Alaska_On_Time'] + airline_data['Alaska_Delay']

airline_data['Alaska_Percent_Delay'] = (airline_data['Alaska_Delay'] / airline_data['Total_Alaska_Flights']) * 100

airline_data['Alaska_Percent_Delay']

0     9.407666
1    16.312057
2    68.577075
3    14.788732
4    13.544669
Name: Alaska_Percent_Delay, dtype: float64

In [32]:
airline_data['Total_AMWest'] = airline_data['AM WEST_Delay'] + airline_data['AM WEST_On_Time']

airline_data['AMWest_Percent_Delay'] = (airline_data['AM WEST_Delay'] / airline_data['Total_AMWest']) * 100

airline_data['AMWest_Percent_Delay']

0    15.437003
1    12.118091
2     7.332950
3    15.294118
4    13.793103
Name: AMWest_Percent_Delay, dtype: float64

In [ ]:
#The total number of flights for Alaska Airlines and AM West Airlines is the sum of on-time and delayed flights. 
#The percentage delay values for Alaska and AM West Airlines at each destination are as follows:
#Alaska Airlines:
#Los Angeles: 9.41%
#Phoenix: 16.31%
#San Diego: 68.58%
#San Francisco: 14.79%
#Seattle: 13.54%
#AM West Airlines:
#Los Angeles: 15.44%
#Phoenix: 12.12%
#San Diego: 7.33%
#San Francisco: 15.29%
#Seattle: 13.79%

In [34]:
airline_data[['Alaska_Percent_Delay', 'AMWest_Percent_Delay']]

   Alaska_Percent_Delay  AMWest_Percent_Delay
0              9.407666             15.437003
1             16.312057             12.118091
2             68.577075              7.332950
3             14.788732             15.294118
4             13.544669             13.793103

In [ ]:
#Upon reviewing the data, we can see that the delay percentages vary significantly between the two airlines across different cities:
#In Los Angeles, Alaska Airlines has a lower delay rate (9.41%) compared to AM West (15.44%).
#In Phoenix, Alaska Airlines has a higher delay rate (16.31%) than AM West (12.12%).
#In San Diego, Alaska Airlines shows a much higher delay percentage (68.58%) compared to AM West (7.33%).
#In San Francisco, both airlines have similar delay percentages (Alaska: 14.79%, AM West: 15.29%).
#In Seattle, the delay percentages are also quite close (Alaska: 13.54%, AM West: 13.79%).

In [36]:
for index, row in airline_data.iterrows():
    if row["Alaska_Percent_Delay"] > row["AMWest_Percent_Delay"]:
        airline_data.loc[index, 'Most_Delayed_Airline'] = 'Alaska'
    else:
        airline_data.loc[index, 'Most_Delayed_Airline'] = 'AMWest'

airline_data['Most_Delayed_Airline']

0    AMWest
1    Alaska
2    Alaska
3    AMWest
4    AMWest
Name: Most_Delayed_Airline, dtype: object

In [ ]:
#A comparison of the delay percentages reveals that Alaska Airlines is the most delayed airline in two cities (Phoenix and San Diego), where as AM West Airlines experiences more delays in Los Angeles, San Francisco, and Seattle.
#The Most_Delayed_Airline column confirms the results:
#AM West is more delayed in Los Angeles, San Francisco, and Seattle.
#Alaska Airlines has a higher delay percentage in Phoenix and San Diego.

In [38]:
airline_data

,City,Alaska_On_Time,Alaska_Delay,AM WEST_On_Time,AM WEST_Delay,Total_Alaska_Flights,Alaska_Percent_Delay,Total_AMWest,AMWest_Percent_Delay,Most_Delayed_Airline
0,Los Angeles,520,54,745,136,574,9.407666,881,15.437003,AMWest
1,Pheonix,118,23,2560,353,141,16.312057,2913,12.118091,Alaska
2,San Diego,318,694,4840,383,1012,68.577075,5223,7.332950,Alaska
3,San Francisco,605,105,360,65,710,14.788732,425,15.294118,AMWest
4,Seattle,2400,376,200,32,2776,13.544669,232,13.793103,AMWest

In [ ]:
#In San Diego, Alaska Airlines has a significantly higher delay rate (68.58%) compared to AM West (7.33%), indicating major issues with Alaska's performance at this destination.
#In Los Angeles and Seattle, the delay rates for AM West are slightly higher than Alaska’s, though the differences are not as extreme.
#Alaska Airlines' on-time performance is generally better in Los Angeles, while AM West struggles more across multiple destinations.
#Overall, the results suggest that while AM West tends to experience more delays overall, Alaska Airlines has specific cities where it struggles, particularly in San Diego.